<!DOCTYPE html>
<html>
  <head>
    <title>hola</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Hola </h1>
    <p>Welcome to shoesStore</p>
  </body>
</html>
